{% if widget.is_initial %}
{{ widget.initial_text }}:
<div class="edit_profile">
    <img src="{{ widget.value.url }}">
</div>

{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" {% if widget.attrs.disabled %} disabled {% endif %}>
<span>{{ widget.clear_checkbox_label }}</span>
{% endif %}
<br>
{{ widget.input_text }}:
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
