{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'ribbon/main.css' %}">
</head>
<body>

{% include 'ribbon/navbar.html' %}
{% if messages %}
<div class="messages_container">
{% for message in messages %}
    <div class="alert alert_{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
</div>

{% endif %}
{% block content %}
{% endblock content %}
<script type="text/javascript">
    let user_token = "{{ user_token }}"
</script>
<script type="text/javascript" src="{% static 'ribbon/main.js' %}"></script>

</body>
</html>
