{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>redan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ribbon/main.css' %}">
</head>
<body>

<header>
    <div class="navbar">
        <div class="div_logo">
            <a href="{{ ribbon }}" class="button_logo">
                <div style="text-align: center; height: 100%;">
                    <span>red</span><span class="logo_link">an</span>
                </div>
            </a>
        </div>
        <input class="search" type="text" placeholder="search">
        <div class="div_login">
            <a class="button_login" href="">
                <div style="text-align: center; height: 100%;">
                    <span>log in</span>
                </div>
            </a>
        </div>
    </div>
</header>

</body>
</html>
