{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>redan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ribbon/main.css' %}">
</head>
<body>

<header>
    <div class="navbar">
        <div class="div_logo">
            <a href="{{ ribbon }}" class="button_logo">
                <div style="text-align: center; height: 100%; line-height: 30px">
                    <span>red</span><span class="logo_link">an</span>
                </div>
            </a>
        </div>
        <input class="search" type="text" placeholder="search" method="POST">
        <div class="div_login">
            <a class="button_login" href="">
                <div style="text-align: center; height: 100%; line-height: 30px;">
                    <span>log in</span>
                </div>
            </a>
        </div>
        <div class="div_register">
            <a class="button_register" href="">
                <div style="text-align: center; height: 100%; line-height: 30px;">
                    <span>register</span>
                </div>
            </a>
        </div>
    </div>
</header>

<main>
    <div class="div_post">
        <div class="div_post_upvote">
            +
        </div>
        <div class="div_post_rating">
            12
        </div>
        <div class="div_post_downvote">
            -
        </div>
        <div class="div_post_header">
            <h3 class="post_title">Title</h3>
        </div>
        <div class="div_post_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacus nisi, luctus at tempus ut, dictum in odio. Suspendisse potenti. Integer mollis ante congue orci ultrices laoreet. Integer lobortis quis felis vitae ornare. In a nulla malesuada, euismod ex ut, auctor ex. Aliquam erat volutpat. Aenean sodales eget orci at tincidunt. Aenean gravida libero eu ex aliquam, ac lobortis velit aliquet. Vestibulum in pulvinar lorem. Aenean convallis enim nulla, ut ultricies orci tincidunt in. Cras ac elit quis leo vestibulum molestie ullamcorper quis sem. Aenean tincidunt vulputate tortor ut iaculis. Duis dolor mauris, pretium eget euismod vitae, vehicula ac nisi. Ut ut metus semper, euismod tortor in, interdum risus. </p>
            <p>Donec et vestibulum urna. Praesent cursus turpis id purus molestie sollicitudin. Aenean nec sollicitudin ligula, vitae tempor erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus ullamcorper tristique ipsum, eu hendrerit lorem tempus vel. Duis ullamcorper ligula dolor, id pretium tortor congue vel. Etiam fringilla euismod purus sit amet elementum. </p>
        </div>
    </div>

</main>

</body>
</html>
