<header>
    <div class="navbar">
        <a class="navbar_button_logo" href="{% url 'ribbon' %}">
            <span>red</span><span class="logo_link">an</span>
        </a>
        <input class="search" type="text" placeholder="search" method="POST">
        <div style="display: flex; align-items: center;">
            {% if request.user.is_authenticated %}
            <img class="navbar_profile_image" src="{{ request.user.profile.profile_image.url }}">
            <a class="navbar_button" href="{% url 'user' request.user.username %}">
                Profile
            </a>
            <a class="navbar_button" href="{% url 'logout' %}">
                Sign Out
            </a>
            {% else %}
            <a class="navbar_button" href="{% url 'login' %}">
                Sign In
            </a>
            <a class="navbar_button" href="{% url 'register' %}">
                Sign Up
            </a>
            {% endif %}
        </div>
    </div>
</header>
