<header>
    <div class="navbar">
        <div class="div_logo">
            <a href="{% url 'ribbon' %}" class="button_logo">
                <div>
                    <span>red</span><span class="logo_link">an</span>
                </div>
            </a>
        </div>
        <input class="search" type="text" placeholder="search" method="POST">
        <div style="display: flex;">
            {% if request.user.is_authenticated %}
            <div class="div_login">
                <a class="button_login" href="{% url 'user' request.user.username %}">
                    <div>
                        <span>profile</span>
                    </div>
                </a>
            </div>
            <div class="div_register">
                <a class="button_register" href="{% url 'logout' %}">
                    <div>
                        <span>log out</span>
                    </div>
                </a>
            </div>
            {% else %}
            <!-- <div class="div_login"> -->
                <a class="button_login" href="{% url 'login' %}">
                    <!-- <div> -->
                        <span>log in</span>
                    <!-- </div> -->
                </a>
            <!-- </div> -->
            <!-- <div class="div_register"> -->
                <a class="button_login" href="{% url 'register' %}">
                    <!-- <div> -->
                        <span>register</span>
                    <!-- </div> -->
                </a>
            <!-- </div> -->
            {% endif %}
        </div>
    </div>
</header>
