{% extends 'ribbon/base.html' %}

{% block content %}

<head>
    <title>{{ post.title }} - redan</title>
</head>

<main>
    <div class="ribbon_post_container">
        {% include 'ribbon/single-post.html' %}

        {% if comments %}
        <div class="div_comments" id="comments">
            <h3 class="post_title div_title bottom_border">Comments</h3>
            {% for comment in comments %}
            <div class="comment">
               <img class="navbar_profile_image div_title" src="{{ comment.user_id.profile.profile_image.url }}">
               <div class="flex_column">
                    <div>
                        <a class="post_main_link" style="font-size: 12px; margin-left: 0px" href="{% url 'user' comment.user_id.username %}">{{ comment.user_id.username }}</a><span class="post_info"> at {{ comment.date_published|date:"H:i, d.m.Y" }}</span>
                    </div>
                    <div class="comment_text">
                        {{ comment.text }}
                    </div>
                    <div class="comment_subbuttons">
                       &#8679; {{ comment.rating }} &#8681; reply
                    </div>
               </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>

{% endblock content %}
