{% extends 'ribbon/base.html' %}

{% block content %}

<head>
    <title>{{ post.title }}</title>
</head>

<main>
    <div class="div_post">
        <div class="div_post_rating">
            <div>
                <a class="post_up" href="">&#8679;</a>
            </div>
            <div>
                {{ post.rating }}
            </div>
            <div>
                <a class="post_down" href="">&#8681;</a>
            </div>
        </div>
        <div class="post_content">
            <div>
                <a class="post_main_link" href="{% url 'section' post.section_id.title %}">{{ post.section_id.title }}</a><span class="post_info"> · posted by <a class="post_secondary_link" href="{% url 'user' post.profile_id.user_id %}">{{ post.profile_id }}</a>. {{ post.date_published|date:"F j, Y" }}</span>
            </div>
            <div class="div_title">
                <span class="post_title"">{{ post.title }}</span>
            </div>
            <div class="div_bottom_border"></div>
            <div class="post_text">
                {{ post.content }}
            </div>
        </div>
    </div>
    {% if comments %}
    <div class="div_comments" id="comments">
        {% for comment in comments %}
        <p>
           {{ comment.user_id.username }} - {{ comment.text }}
        </p>
        {% endfor %}
    </div>
    {% endif %}
</main>

{% endblock content %}
