{% extends 'ribbon/base.html' %}

{% block content %}

<head>
    <title>{{ section }}</title>
</head>

<main>
    <div class="section_banner" style="background-color: {{ section.banner_color  }};">

    </div>
    <div class="div_section_header bottom_border">
        <div class="section_header_info section_posts">
            <div>
                <img class="section_img" src="{{ section.image.url }}">
            </div>
            <div>
                <div>
                    {{ section.title }}
                </div>
                {% if section.short_description %}
                <div>
                    {{ section.short_description }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="section_header_buttons">
            <button class="section_button">Join</button>
            <div>
                {{ section.subscribers.count }} subscriber{{ section.subscribers.count|pluralize:'s'}}
            </div>
        </div>
    </div>
    <div class="section_flex">
        <div class="section_posts">
            {% for post in posts %}
                {% include 'ribbon/single-post.html' %}
            {% endfor %}
        </div>
        <div class="section_info">
            {% if section.description %}
            <div class="bottom_border">
                Description: <br>
                <div class="section_description">
                    {{ section.description }}
                </div>
            </div>
            {% endif %}
            <div class="bottom_border">
                owner<br>
                <a class="post_main_link" href="{% url 'user' owner %}">{{ owner }}</a>
            </div>
            <div>
                moderators:<br>
                {% for moderator in moderators %}
                    <a class="post_main_link" href="{% url 'user' moderator %}">{{ moderator }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock content %}
