{% extends 'ribbon/base.html' %}

{% block content %}

<head>
    <title>{{ section }} - redan</title>
</head>

<main>
    <div class="section_banner" style="background-color: {{ section.banner_color  }};">
        {% if section.banner %}
            <img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; object-fit: cover;" src="{{ section.banner.url }}">
        {% endif %}
    </div>
    <div class="div_section_header bottom_border">
        <div class="section_header_info section_posts">
            <div>
                <img class="section_img" src="{{ section.image.url }}">
            </div>
            <div>
                <div class="post_title div_title">
                    {{ section.title }}
                </div>
                {% if section.short_description %}
                <div class="section_description">
                    {{ section.short_description }}
                </div>
                {% endif %}
                {% if request.user.profile == section.owner %}
                <div class="section_description">
                    <a class="post_main_link ml-0" href="{% url 'section_edit' section.title %}">edit section</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="section_header_buttons">
            <div class="div_title">
                {{ section.subscribers.count }} subscriber{{ section.subscribers.count|pluralize:'s'}}
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="subscription" hidden>
                {% if is_subscriber %}
                <a class="submit-btn cancel-btn a-as-btn" href="{% url 'post_create' section.title %}">New post</a>
                <button type="submit" class="section_button div_title a-as-btn p-5 logo_link">Leave</button>
                {% else %}
                <button type="submit" class="section_button div_title a-as-btn p-5 logo_link">Join</button>
                {% endif %}
            </form>

        </div>
    </div>
    <div class="section_flex">
        <div class="section_posts">
            {% for post in posts %}
                {% include 'ribbon/single-post.html' %}
            {% endfor %}
            {% if not posts %}
            {% include 'ribbon/empty-post.html' %}
            {% endif %}
        </div>
        <div class="section_info">
            {% if section.description %}
            <div class="bottom_border">
                Description: <br>
                <div class="section_description">
                    {{ section.description }}
                </div>
            </div>
            {% endif %}
            <div class="bottom_border">
                owner<br>
                <a class="post_main_link" href="{% url 'user' owner %}">{{ owner }}</a>
            </div>
        </div>
    </div>

</main>

{% endblock content %}
