<div class="div_post">
    <div class="div_post_rating">
        <div>
            <span class="post_vote" data-value="up" data-post_id="{{ post.id }}" data-section_id="{{ post.section_id.id }}">&#8679;</span>
        </div>
        <div>
            {{ post.rating }}
        </div>
        <div>
            <span class="post_vote" data-value="down" data-post_id="{{ post.id }}" data-section_id="{{ post.section_id.id }}">&#8681;</span>
        </div>
    </div>
    <div class="post_content">
        <div>
            <a class="post_main_link" href="{% url 'section' post.section_id.title %}">{{ post.section_id.title }}</a><span class="post_info"> · posted by <a class="post_secondary_link" href="{% url 'user' post.profile_id.user_id %}">{{ post.profile_id }}</a>. {{ post.date_published|date:"F j, Y" }}</span>
        </div>
        <div class="div_title">
            <a class="post_title" href="{% url 'post' post.section_id.title post.id %}">{{ post.title }}</a>
        </div>
        <div class="bottom_border"></div>
        {% if post.image %}
            <img style="width: 100%" src="{{ post.image.url }}">
        {% endif %}
        <div class="post_text">
            {{ post.content|linebreaksbr }}
        </div>
        <div>
            <a class="post_main_link" href="{% url 'post' post.section_id.title post.id %}#comments">{{ post.comments_set.all.count }} сomment{{ post.comments_set.all.count|pluralize:'s'}}</a>
        </div>
    </div>
</div>
