body {
    background-color: #000;

    margin: 0;
    font-family: "Verdana", "Tahoma", "Trebuchet MS";
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 80px auto 40% auto 80px 80px;
    grid-template-rows: 30px;

    background-color: #202020;
}

.div_logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    background-color: #333;
}

.logo_link {
    color: #e00;
}

.button_logo {
    text-decoration: none;
    font-family: "Helvetica", "Arial";
    font-size: 26px;
    color: #fff;
}

.button_logo:hover {
    color: #e00;
    transition: color 0.2s;
}

.search {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;

    border: none;

    background-color: #333;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    min-width: 200px;
    padding: 0 5px;
    transition: background-color 0.2s;
}

.search:hover {
    background-color: #505050;
}

.search:focus {
    background-color: #505050;
    outline: none;
    /*grid-column: 2 / 6;
    grid-row: 1 / span 1;
    z-index: 1;*/
}

.div_login {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;

    background-color: #333;
}

.button_login {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.button_login:hover {
    color: #e00;
    transition: 0.2s;
}

.div_register {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;

    background-color: #333;
}

.button_register {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.button_register:hover {
    color: #e00;
    transition: 0.2s;
}

.button_logo div,
.button_login div,
.button_register div {
    text-align: center;
    height: 100%;
    line-height: 30px;
}

.div_post {
    margin: 10px auto;
    width: 60%;
    height: 100%;

    color: #D7DADC;
    background-color: #252525;

    border: solid 1px #aaa;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px 20px auto auto 20px;
}

.div_post:hover {
    border-color: #eee;
}

.div_post_upvote {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    text-align: center;
}

.div_post_rating {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    text-align: center;
}

.div_post_downvote {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    text-align: center;
}

.button_upvote,
.button_downvote {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    line-height: 20px;
}

.button_upvote:hover {
    color: #0e0;
}

.button_downvote:hover {
    color: #e00;
}

.div_post_header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 4;

    padding: 5px;

    border-radius: 0 5px 0 0;
    border-bottom: solid 1px #505050;

    background-color: #303030;
}

.post_title {
    text-decoration: none;
    font-weight: bold;
    color: #D7DADC;
}

.post_group {
    text-decoration: none;
    font-size: 10px;
    color: #fff;
}

.post_group:hover {
    text-decoration: underline;
}

.post_info {
    font-size: 10px;
    color: #77797a;
}

.div_post_content {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;

    padding: 5px;

    background-color: #303030;
}

.post_content_text {
    margin: 0;
}

.div_post_footer {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;

    border-radius: 0 0 5px 0;

    background-color: #303030;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.post_footer_comments {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    padding: 0 5px 0 5px;
    font-size: 10px;
    line-height: 20px;
}

.post_footer_comments:hover {
    background-color: #505050;
}

.button_comments {
    text-decoration: none;
    color: #fff;
}

.button_comments div {
    text-align: center;
    height: 100%;
}
