body {
    background-color: #000;

    margin: 0;
    font-family: "Verdana", "Tahoma", "Trebuchet MS";
}

header {
    position: sticky;
    top: 0;
}

/* NAVBAR */

.navbar {
    display: grid;
    grid-template-columns: 80px auto 40% auto 80px 80px;
    grid-template-rows, line-height: 30px;

    min-width: 650px;
    background-color: #202020;
}

.div_logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    background-color: #333;
}

.logo_link {
    color: #e00;
}

.button_logo {
    text-decoration: none;
    font-family: "Helvetica", "Arial";
    font-size: 26px;
    color: #fff;
}

.button_logo:hover {
    color: #e00;
    /*transition: color 0.2s;*/
}

.search {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;

    border: none;

    background-color: #333;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    min-width: 300px;
    padding: 0 5px;
    /*transition: background-color 0.2s;*/
}

.search:hover {
    background-color: #505050;
}

.search:focus {
    background-color: #505050;
    outline: none;
}

.div_login {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;

    background-color: #333;
}

.button_login {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.button_login:hover {
    color: #e00;
    /*transition: 0.2s;*/
}

.div_register {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;

    background-color: #333;
}

.button_register {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.button_register:hover {
    color: #e00;
    /*transition: 0.2s;*/
}

.button_logo div,
.button_login div,
.button_register div {
    text-align: center;
    height: 100%;
    line-height: 30px;
}

/* MESSAGES */
.messages_container {
    position: absolute;
    top: 40px;
    left: 10px;
}

.alert {
    color: #fff;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.alert_debug {
    background-color: #303030;
    border-color: #444;
}

.alert_info {
    background-color: #303030;
    border-color: #444;
}

.alert_success {
    background-color: #306030;
    border-color: #070;
}

.alert_warning {
    background-color: #606030;
    border-color: #770;
}

.alert_error {
    background-color: #603030;
    border-color: #700;
}
/* POST */

.div_post {
    margin: 10px auto;
    width: 60%;
    min-width: 400px;

    color: #D7DADC;
    background-color: #252525;

    border: solid 1px #444;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px 20px auto auto 20px;
}

.div_post:hover {
    border-color: #eee;
}

.div_post_upvote {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    text-align: center;
}

.div_post_rating {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    text-align: center;
}

.div_post_downvote {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    text-align: center;
}

.button_upvote,
.button_downvote {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    line-height: 20px;
}

.button_upvote:hover {
    color: #0e0;
}

.button_downvote:hover {
    color: #e00;
}

.div_post_header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 4;

    padding: 5px;

    border-radius: 0 5px 0 0;
    border-bottom: solid 1px #444;

    background-color: #303030;
}

.post_title {
    text-decoration: none;
    font-weight: bold;
    color: #D7DADC;
}

.post_group {
    text-decoration: none;
    font-size: 10px;
    color: #fff;
}

.post_group:hover {
    text-decoration: underline;
}

.post_author {
    text-decoration: none;
    color: #77797a;
}

.post_author:hover {
    text-decoration: underline;
}

.post_info {
    font-size: 10px;
    color: #77797a;
}

.div_post_content {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;

    padding: 5px;

    background-color: #303030;
}

.post_content_text {
    margin: 0;
}

.div_post_footer {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;

    border-radius: 0 0 5px 0;

    background-color: #303030;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.post_footer_comments {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    padding: 0 5px 0 5px;
    font-size: 10px;
    line-height: 20px;
}

.post_footer_comments:hover {
    background-color: #505050;
}

.button_comments {
    text-decoration: none;
    color: #fff;
}

.button_comments div {
    text-align: center;
    height: 100%;
}

/* PROFILE */

.div_profile_layout {
    display: grid;
    grid-template-columns: auto 322px;
    grid-template-rows: auto;
}

.div_profile_posts {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.div_profile {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    margin: 10px 10px auto auto;
    width: 300px;

    color: #D7DADC;
    background-color: #252525;

    border: solid 1px #aaa;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 90px, auto;
}

.div_profile_image {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    text-align: center;
}

.profile_profile_image {
    height: 60px;
    width: 60px;
    object-fit: cover;

    border-radius: 50%;
    background-color: #252525;
    border: solid #252525 3px;
}

.div_profile_banner {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    height: 90px;
    width: 300px;
}

.profile_banner_image {
    border-radius: 5px 5px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.div_profile_info {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.username {
    font-size: 10px;
    margin-left: 5px;
}

.profile_flex_info {
    flex: 1;
    padding-left: 5px;
}

.profile_flex_info h6 {
    margin: 0;
}

.profile_flex_info p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

/* LOGIN/REGISTER */
.div_authenticate {
    width: 300px;
    margin: 10px auto auto auto;

    border: solid 1px #444;
    border-radius: 5px;

    color: #D7DADC;
    background-color: #252525;
}

.label {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.input {
    display: block;

    margin-left: 10px;
    margin-right: 10px;
    width: 278px;

    color: #fff;
    background-color: #333;
    border: none;
}

.input:focus {
    outline: none;
    background-color: #505050;
}

.submit {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    background-color: #444;
    color: #D7DADC;

    border: none;
}
