body {
    background-color: #000;

    margin: 0;
    font-family: "Trebuchet MS", "Verdana", "Tahoma", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* NAVBAR */
.navbar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    min-width: 650px;
    background-color: #202020;
}

.logo_link {
    color: #e00;
}

.navbar_button_logo {
    display: inline-flex;
    height: 30px;

    padding: 0 5px;
    margin: 2px 5px;
    align-items: center;
    border-radius: 12px;
    background-color: #D7DADC;

    font-weight: bold;
    text-decoration: none;
    font-size: 26px;
    color: #000;
}

.navbar_button_logo:hover {
    color: #e00;
}

.search {
    border: none;
    border-radius: 10px;
    height: 30px;

    background-color: #333;
    background-image: url("images/searchicon.png");
    background-position: 5px 6px;
    background-repeat: no-repeat;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    min-width: 300px;
    padding: 0px 10px 0px 30px;
}

.search:focus,
.search:hover {
    background-color: #505050;
    outline: none;
}

.navbar_profile_image {
    display: inline-flex;
    height: 24px;
    width: 24px;
    object-fit: cover;

    border-radius: 15px;
    border: solid 1px #444;
    background-color: #202020;
}

.navbar_button {
    display: inline-flex;
    height: 30px;

    align-items: center;
    border-radius: 12px;
    background-color: #D7DADC;

    margin: 2px 5px;
    padding: 0 5px;

    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.navbar_button:hover {
    outline: solid 2px #e00;
}

/* MESSAGES */
.messages_container {
    position: absolute;
    top: 60px;
    left: 10px;
}

.alert {
    color: #fff;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.alert_debug {
    background-color: #303030;
    border-color: #444;
}

.alert_info {
    background-color: #303030;
    border-color: #444;
}

.alert_success {
    background-color: #306030;
    border-color: #070;
}

.alert_warning {
    background-color: #606030;
    border-color: #770;
}

.alert_error {
    background-color: #603030;
    border-color: #700;
}
/* POST */

.ribbon_post_container {
    width: 700px;
    margin: 0 auto;
}

.div_post {
    display: flex;

    margin: 10px;
    color: #D7DADC;
    background-color: #252525;

    border: solid 1px #444;
    border-radius: 5px;
}

.div_post:hover {
    border-color: #eee;
}

.div_post_rating {
    display: flex;
    flex-direction: column;
    width: 40px;
}

.div_post_rating div {
    text-align: center;
}

.div_post_rating span {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.post_vote:hover {
    color: #e00;
}

.voted {
    color: #e00!important;
}

.post_content {
    display: flex;
    flex-direction: column;

    border-radius: 0 5px 5px 0;

    background-color: #303030;
    width: 100%;
}

.post_main_link {
    margin: 5px 0px 0px 5px;
    text-decoration: none;
    font-size: 11px;
    color: #fff;
}

.post_main_link:hover {
    text-decoration: underline;
}

.post_secondary_link {
    text-decoration: none;
    color: #77797a;
}

.post_secondary_link:hover {
    text-decoration: underline;
}

.post_info {
    font-size: 11px;
    color: #77797a;
}

.div_title {
    margin: 5px;
}

.bottom_border {
    border-bottom: solid 1px #444;
}

.post_title {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #D7DADC;
}

.post_text {
    margin: 5px;
}

/* PROFILE */

.div_profile_layout {
    display: flex;
    justify-content: center;
}

.div_profile_posts {
    width: 700px;
    margin-right: 0;
    margin-left: auto;
}

.div_profile {
    margin: 10px auto auto 0;
    width: 300px;

    color: #D7DADC;
    background-color: #252525;

    border: solid 1px #aaa;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 90px, auto;
}

.div_profile_image {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    text-align: center;
}

.profile_profile_image {
    height: 60px;
    width: 60px;
    object-fit: cover;

    border-radius: 50%;
    background-color: #252525;
    border: solid #252525 3px;
}

.div_profile_banner {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    height: 90px;
    width: 300px;
}

.profile_banner_image {
    border-radius: 5px 5px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.div_profile_info {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.username {
    font-size: 10px;
    margin-left: 5px;
}

.profile_flex_info {
    flex: 1;
    padding-left: 5px;
}

.profile_flex_info h6 {
    margin: 0;
}

.profile_flex_info p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

/* USER FORMS */
.div_authenticate {
    width: 50%;
    min-width: 300px;
    margin: 10px auto;
    padding: 10px;

    border: solid 1px #444;
    border-radius: 5px;

    color: #D7DADC;
    background-color: #252525;
}

.div_authenticate label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}


#id_email,
#id_about,
#id_username,
#id_password1,
#id_password2,
.input {
    width: calc(100% - 20px);
    padding: 10px;

    border-radius: 10px;

    font-size: inherit;
    color: #fff;
    background-color: #333;
    border: none;
}

#id_country {
    width: 100%;
    padding: 10px 5px;

    border-radius: 10px;

    font-size: inherit;
    color: #fff;
    background-color: #333;
    border: none;
}

#id_email::placeholder,
#id_about::placeholder,
#id_country::placeholder,
#id_username::placeholder,
#id_password1::placeholder,
#id_password2::placeholder,
.input::placeholder {
    color: #666;
}


#id_email:focus,
#id_username:focus,
#id_password1:focus,
#id_password2:focus,
.input:focus {
    outline: none;
    background-color: #505050;
}

.edit_profile {
    background-color: #333;
    border-radius: 10px;
}

.edit_profile img {
    max-width: 450px;
    display: block;

    margin: 0 auto;
}

.errorlist {
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin:  0;
    color: #aa0000;
}

.submit-btn {
    margin-top: 10px;
    background-color: #444;
    padding: 5px;
    border-radius: 10px;
    color: #D7DADC;
    font-family: inherit;
    font-size: inherit;

    cursor: pointer;
    border: none;
}

.save-btn:hover {
    background-color: #494;
}

.cancel-btn:hover {
    background-color: #555;
}

.a-as-btn {
    text-decoration: none;
    appearance: button;
}

.delete-btn {
    float: right;
    background-color: #744;
}

.delete-btn:hover {
    background-color: #944;
}

/* COMMENTS */
.div_comments {
    margin: 10px;
    min-width: 400px;


    color: #D7DADC;
    background-color: #252525;

    border: solid 1px #444;
    border-radius: 5px;
}

.comment {
    display: flex;
    margin-top: 10px;
}

.flex_column {
    display: flex;
    flex-flow: column;
}

.comment_text {
    font-size: 14px;
    margin: 5px 10px;
}

.comment_vote:hover {
    color: #e00;
}

.comment_subbuttons {
    font-size: 12px;
}

/* SECTION */
.div_section_header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-width: 650px;

    padding: 10px;

    color: #D7DADC;
    background-color: #202020;
}

.section_header_info {
    display: flex;
    flex-flow: row;
}

.section_header_buttons {
    margin: 0 auto auto 0;

    width: 300px;
    min-width: 200px;
}

.section_button {
    border: none;
    border-radius: 10px;
    background-color: #D7DADC;

    font-weight: bold;
    font-size: inherit;
    font-family: inherit;

    cursor: pointer;
}


.section_img {
    height: 100px;
    border-radius: 5px;
    border: solid 1px #444;
    position: relative;
    background-color: #202020;
    top: -40px;
}

.section_banner {
    min-height: 50px;
    min-width: 650px;
    background-color: #303030;
}

.section_flex {
    display: flex;
    justify-content: center;
}


.section_posts {
    width: 700px;
    min-width: 400px;
    margin: 0 0 0 auto;
}

.section_info {
    margin: 10px auto auto 0;

    width: 300px;
    min-width: 200px;

    padding: 5px;
    color: #D7DADC;
    background-color: #202020;

    border: solid 1px #444;
    border-radius: 5px;
}

.section_description {
    max-height: 200px;
    overflow: auto;
    font-size: 12px;
    margin-left: 5px;
}

.mt-0 {
    margin-top: 0;
}

.ml-0 {
    margin-left: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-5 {
    margin-left: 5px;
}

.m-5 {
    margin: 5px;
}

.pt-5 {
    padding-top: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pl-5 {
    padding-left: 5px;
}

.p-5{
    padding: 5px;
}

.red_link {
    text-decoration: none;
    color: red;
}

.red_link:hover {
    text-decoration: underline;
}

.bgrnd-r {
    background-color: #e00;
}

.page-btn {

}

.pointer {
    cursor: pointer;
}
