{% extends 'ribbon/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    {% if page == 'login' %}
    <title>login</title>
    {% else %}
    <title>register</title>
    {% endif %}
</head>

<div class="div_authenticate">
<!--     <form>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="submit" type="submit">log in</button>
    </form> -->
    {% if page == 'login' %}
    <form method="POST" action="">
        {% csrf_token %}
        <label class="label">Username</label>
        <input class="input" type="text" name="username" placeholder="Input here">
        <label class="label">Password</label>
        <input class="input" type="password" name="password" placeholder="*****">
        <button class="submit" type="submit">log in</button>
    </form>
    {% else %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit" type="submit">log in</button>
    </form>
    {% endif %}
</div>

{% endblock content %}
